spring:
    application:
        name: config-server
    profiles:
        active: native
    cloud:
        config:
            server:
                native:
                    search-locations: classpath:/config
server:
  port: 8888

management: 
    endpoints:
        web:
            exposure:
                include: health, beans, metrics, info, env
    endpoint:
        health:
            show-details: always 


